{% extends "base.html" %}
{% block title %}Cart{% endblock title %}Cart
{% block cart %}
<section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4" style="background:white;">
            <div class="card-header py-3">
              <h5 class="mb-0" >Cart -  {{cart_items_length}}  items</h5>
            </div>
            <div class="card-body">
              <!-- Single item -->
              {% if cart_items %}
              
                <ul>
                  
                  {% for item in cart_items %}
                  <div class="card " style="background:white;">
                    <img style="border: gold solid 4px; margin:5px; height:150px; width:150px; " class="tshirt_img" src="{{ item.product.p_img.url }}" class="card-img-top" alt="{{ item.product.p_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.p_name }}</h5>
                        <h3 class="card-text">Rs. {{ item.product.p_price }}</p>
                        <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Remove</a>
                    </div>
                </div>
                  {% endfor %}
                  <button  style="margin-top:2px;"><a href="{% url 'cart_checkout' %}">Buy Now</a></button>
              {% else %}
                <p>Your cart is empty.</p>
              {% endif %}
              </div>
            </div>
          </div>
        </div>

  {% endblock cart %}
 

  {% block js %}
  <script>
    cart=JSON.parse(localStorage.getItem('cart'))
    document.getElementById('clength').innerHTML=Object.keys(cart).length;

  </script>
  {% endblock js %}
