
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/App.css">
    <link rel="stylesheet" href="static/css/logincomp.css">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Login</title>
    
    <link rel="stylesheet" href="static/css/App.css">
  <link rel="stylesheet" href="static/css/logincomp.css">
  <link rel="stylesheet" href="static/css/index.css">

  <title>Signup</title>
       
</head>
<body>
    <div class="App">
        <div id="message">
            <h1 class="header"></h1>
        </div>
        <div class="submit" >
        <div class="register">
            <h2 class="header">Login</h2>
            <div class="form">
                <div class="name">
                  <img src="static/images/name.png" class="icon-tf" alt="Name Icon">
                  <input class="input"  id="loginUsername" type="email" placeholder="Enter username">
                </div>
                <div class="email">
                  <img src="static/images/email.png" class="icon-tf" alt="Email Icon">
                  <input class="input"  id="loginUsername" type="email" placeholder="Enter email">
                </div>
                <div class="password">
                  <input class="input" id="loginPassword" type="password" placeholder="Enter password">
                </div>
              </div>
              
              <div class="submit">
            
            <a class="a-redirect" href="/home"><button class="btn-main" >Login</button></a>
              </div>
              <p>New Here?</p>
              <a class="a-redirect" href="/signin"><button id="btn-login">Signup</button></a>
        
        </div>
    </div>
        
          
    </div>
</body>
</html>
