{% block profile_modal %}
<div class="login_menu">
                                            
   {% if request.user.is_authenticated %}
   <ul>
   <li><a href="/mycart">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <span class="padding_10">Cart</span></a>
   </li>
   <li><!--<a href="{% url 'logout'%}">-->
      <i class="fa fa-user" aria-hidden="true"></i>
      
         <span class="padding_10"><a href="{% url 'logout' %}">Logout</a></span>
      </li>
      <li><!--<a href="{% url 'logout'%}">-->
         <i class="fa fa-user" aria-hidden="true"></i>
         
            <span class="padding_10"><a href="{% url 'update_profile' %}">Update</a></span>
      </li>
         <li>
            <a id="dash" href="#" onclick="openProfileModal()">
               <i class="fa fa-user" aria-hidden="true"></i>
               <span class="padding_10">Dashboard</span>
            </a>
         
         </li>
      </ul>
      {% else %}
   <ul>
      <li>
      <i class="fa fa-user" aria-hidden="true"></i>
         <span class="padding_10"><a href="{% url 'login' %}">Login</a></span>
      </li>
   </ul>
      {% endif %}
   
   
   

</div>
 {% endblock profile_modal %}