{% extends "base.html" %}
{% block dashboard %}{% endblock dashboard %}
{% block title %}Reviews{% endblock title %}
{% block review %}
{% load static %}
{% for review in reviews %}
<div class="container">
    <style>
        .rev_box{
            border:white solid 3px;
            margin-top: 15px;
            margin-bottom: 5px;
            border-radius:5px;
            width:250px;
          }
        </style>
    <div style="display:flex; margin-top:10px;">
    <img style="border: gold solid 4px; margin:5px; height:200px; " src="{{ review.item.item_img.url}}">       
    <div class="rev_box" style="margin-left:40px;">
    <p>Item name: {{ review.item.item_name}}</p>
    <p>Review : {{ review.review_text }}</p>
    <p>Rating: {{ review.rating }}</p>
    </div>
</div>
    
</div>
    <!-- Add code to display other review details like rating, created_at, etc. -->
{% endfor %}
{% endblock review %}
